.group-21-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.81px;
  margin-left: 93px;
  min-width: 88px;
}

.date-1 {
  height: 18px;
  letter-spacing: 0;
  line-height: 31px;
  text-align: center;
  white-space: nowrap;
  width: 62px;
}

.calendar-4-1-1 {
  height: 13px;
  margin-left: 983px;
  margin-top: 1.0px;
  width: 14px;
}

.group-21-3.group-21-4 {
  align-self: unset;
  height: 18px;
  left: 762px;
  margin-bottom: unset;
  margin-left: unset;
  position: absolute;
  top: 20px;
}

.group-21-3.group-21099 {
  align-self: unset;
  margin-bottom: unset;
  margin-top: 1.77px;
}

.group-21-3.group-21102 {
  align-self: unset;
  height: 18px;
  left: 762px;
  margin-bottom: unset;
  margin-left: unset;
  position: absolute;
  top: 21px;
}

.group-21-3.group-21105 {
  align-self: unset;
  margin-bottom: 0.23px;
}

